/* Global styles */

@font-face {
    font-family: AspiraDemi;
    src: url("../fonts/aspira-demi.otf") format("opentype");
}

@font-face {
    font-family: AspiraLight;
    src: url("../fonts/aspira-light.otf") format("opentype");
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

.button {
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.lowercase {
    text-transform: lowercase;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-size: 110%;
    font-style:i talic;
}

/* Nav styles */

#nav-bar {
    background-color: transparent;
    height: 50px;
    left: 0;
    min-width: 980px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

#chegg-ux-logo {
    padding-left: 10px;
    padding-top: 10px;
}

#nav-buttons {
    float: right;
    position: relative;
    right: 20px;
    top: -33px;
}

.button.nav-button {
    background-color: #f07d00;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 8px;
    width: 125px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.button.nav-button.outline {
    background-color: #fff;
    border: 2px solid #f07d00;
    box-shadow: none;
    color: #f07d00;
    padding: 6px;
    margin-right: 8px;
    text-shadow: none;
    width: 125px;
}

/* Page styles */

#container {
    background: url('../img/header-bg.jpg');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
}

main {
    position: absolute;
    top: 750px;
    width: 100%;
}

main div:first-child.section-header{
    padding-top: 40px;
}

.section-header {
    padding-top: 80px;
    text-align: center;
    width: 100%
}

.section-header h2 {
    color: #333;
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 40px;
}

/* Header styles */

#header-content h1 {
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    margin: 0 auto;
    padding-top: 250px;
    text-align: center;
    text-shadow: 1px 1px #414141;
    width: 660px;
}

#header-buttons {
    margin-top: 40px;
    width: 100%;
}

#header-buttons a:first-child {
    margin-right: 10px;
}

#header-buttons div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.button.header-button {
    background-color: #f07d00;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 15px;
    width: 220px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#learn-more-anchor {
    position: absolute;
    top: 650px;
    width: 100%;
}

#learn-more-anchor a {
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #414141;
    width: 100%;
}

/* Employee testimonials styles */

#testimonials-section {
    display: table;
    margin: 0 auto;
    max-width: 960px;
}

.testimonial-portrait {
    background-color: #aaa;
    border: 1px solid #e9e9e9;
    display: table-cell;
    height: 540px;
    position: relative;
    width: 340px;
}

.testimonial {
    background-color: rgba(51, 153, 153, 0.8);
    color: #fff;
    min-height: 184px;
    padding: 30px;
    position: absolute;
    bottom: 0;
}

.testimonial h4 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.testimonial p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}

.portrait-stewart {
    background: url('../img/portrait-stewart.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 5px solid #fff;
}

.portrait-kyrie {
    background: url('../img/portrait-kyrie.png');
    background-position: center -20px;
    background-size: 112%;
    background-repeat: no-repeat;
    border-right: 5px solid #fff;
}

.portrait-kaari {
    background: url('../img/portrait-kaari.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Culture styles */

#first-table-row,
#second-table-row,
#third-table-row {
    display: table;
    margin: 0 auto;
    max-width: 960px;
}
.culture-portrait {
    display: table-cell;
    border: 4px solid #fff;
}

.cultural-stat {
    display: inline-block;
    position: relative;
    border: 4px solid #fff;
}

.stat-content {
    bottom: 0;
    color: #fff;
    padding: 10px;
    position: absolute;
    text-align: left;
}

.stat-content h4 {
    font-size: 14px;
    text-transform: uppercase;
}

.stat-content p {
    font-size: 28px;
    line-height: 34px;
}

#culture-shafeen {
    background: url('../img/culture-shafeen.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 364px;
    width: 243px;
}

#culture-jennie {
    background: url('../img/culture-jennie.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 268px;
    width: 186px;
}

#culture-experience {
    background-color: #fd9f00;
    background-size: 291px 194px;
    height: 194px;
    width: 291px;
}

#culture-twyla {
    background: url('../img/culture-twyla.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 426px;
    width: 311px;
}

#culture-mark {
    background: url('../img/culture-mark.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 137px;
    position: relative;
    top: -100px;
    width: 223px;
}

#culture-jenn {
    background: url('../img/culture-jenn.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 267px;
    position: relative;
    top: -197px;
    width: 169px;
}

#culture-mike {
    background: url('../img/culture-mike.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 392px;
    position: relative;
    right: -2px;
    top: -232px;
    width: 308px;
}

#culture-rosa {
    background: url('../img/culture-rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: none;
    height: 194px;
    position: relative;
    top: -24px;
    left: 1px;
    width: 286px;
}

#culture-kids {
    background-color: #ffcc00;
    background-size: 209px 186px;
    border-top: 9px solid #fff;
    height: 231px;
    position: relative;
    top: -366px;
    width: 209px;
}

#culture-jen {
    background: url('../img/culture-jen.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 267px;
    min-width: 159px;
    position: relative;
    top: -361px;
    width: 162px;
}

#culture-education {
    background-color: #339999;
    background-size: contain;
    height: 102px;
    position: relative;
    top: -365px;
    width: 566px;
}

/* Impact styles */

#impact {
    margin-top: -393px;
    //margin-bottom: 80px;
    margin-bottom: 220px;
}

#impact-stats {
    padding-bottom: 10px;
    padding-left: 80px;
    padding-top: 20px;
}

#impact-section {
    display: table;
    margin: 0 auto;
    max-width: 960px;
}

.impact-stat {
    background-color: #aaa;
    border-right: 20px solid white;
    display: table-cell;
    height: 133px;
    position: relative;
    width: 160px;
}

.impact-content {
    position: absolute;
    top: 60px;
}

.impact-content span {
    color: #666;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}

.impact-content p {
    color: #666;
    font-size: 15px;
    font-weight: 100;
    line-height: 18px;
}

#stat-careers {
    background: url('../img/icon-careers.png');
    background-position: center top;
    background-size: 47px 45px;
    background-repeat: no-repeat;
}

#stat-grades {
    background: url('../img/icon-grades.png');
    background-position: center top;
    background-size: 47px 45px;
    background-repeat: no-repeat;
}

#stat-books {
    background: url('../img/icon-books.png');
    background-position: center top;
    background-size: 47px 45px;
    background-repeat: no-repeat;
}

#stat-students {
    background: url('../img/icon-students.png');
    background-position: center top;
    background-size: 47px 45px;
    background-repeat: no-repeat;
}

#stat-students .impact-content p {
    padding-left: 20px;
    padding-right: 20px;
}

#impact-tweets {
    margin-top: 40px;
}

.impact-tweet {
    color: #666;
    border: 1px solid #e9e9e9;
    float: left;
    margin-right: 10px;
    min-height: 300px;
    max-width: 200px;
    padding: 40px;
    position: relative;
}

.tweet-content {
    font-size: 14px;
    line-height: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tweet-meta-data {
    border-top: 1px solid #e9e9e9;
    padding-top: 20px;
    position: absolute;
    bottom: 20px;
    width: 200px;
}

.twitter-picture {
    display: block;
    height: 64px;
    margin: 0 auto 10px auto;
    width: 64px;
}

.twitter-username {
    display: block;
    font-weight: 500;
}

.twitter-logo {
    background: url('../img/twitter-logo.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}

/* Student Hub styles */

#student-hub {
    //background-color: #ffcc00;
    //margin-bottom: 220px;
}

#hub-padding-top {
    padding-top: 150px;
}

.hub-content {

}

#high-school {
    background: url('../img/illustration-high-school.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 700px;
    max-width: 960px;
}

#college {
    background: url('../img/illustration-college.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 700px;
    max-width: 960px;
}

#the-hub {
    background: url('../img/illustration-hub.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 700px;
    max-width: 960px;
}

/* Office loations styles */

#office-locations {
    background: url('../img/office.jpg');
    background-position: center 85%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}

#office-locations h2 {
    position: relative;
    top: -160px;
}

#locations-section {
    display: table;
    margin: 0 auto;
    max-width: 960px;
}

.office-location {
    background-color: rgba(51, 153, 153, 0.8);
    color: #fff;
    float: left;
    margin-right: 10px;
    min-height: 486px;
    min-width: 230px;
    position: relative;
}

.location-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 80px;
    text-transform: uppercase;
    text-shadow: 1px 1px #414141;
}

#first-location .location-icon {
    padding-top: 30px;
}

.location-icon {
    padding-top: 40px;
}

#headquarters {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
}

.office-address {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin-top: 40px;
    text-shadow: 1px 1px #414141;
}

/* Footer styles */

#footer-content {
    margin-bottom: 200px;
}
